@model Tuple<List<Question>, List<Answer>, List<int>>
@{
    ViewData["Title"] = "QuestionFour";
}

<h1>Question Four</h1>

@{
    var test = Model.Item3.ToList();
    var point = test[2];
    <p>@point.ToString()</p>
}

@using (Html.BeginForm("QuestionFive", "Questions", FormMethod.Post))
{
    var QuestionList = Model.Item1.ToList();
    var AnswerList = Model.Item2.ToList();
    var question4 = QuestionList[3];
    <h2>@question4.Text</h2>
    <ul>
        @foreach (var answer in AnswerList)
        {
            if (answer.QuestionId.Equals(question4.Id))
            {
                <li>@Html.RadioButton("answer4", answer.Points) @answer.Text</li>
            }
        }
    </ul>
    <input type="submit" value="Next Question"></input>
}