@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "QuestionIndex";
}
<link rel="stylesheet" type="text/css" href="../css/Questions.css">

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Welcome to the Aptitude Quiz!</h1>
        <h3 class="text-center">Find Your Fit! Our Quiz Matches You with the Perfect Volunteering Opportunity.</h3>
    </div>
    <div class="row justify-content-center">
        <div class="card">
            <h2 style="font-size: 40px;"><b>Question 1</b></h2>
            @using (Html.BeginForm("QuestionTwo", "Questions", FormMethod.Post))
            {
                var QuestionList = Model.Item1.ToList();
                var AnswerList = Model.Item2.ToList();
                var question1 = QuestionList[0];
                <h2 id="question">@question1.Text</h2>
                <ul>
                    @foreach (var answer in AnswerList)
                    {
                        if (answer.QuestionId.Equals(question1.Id))
                        {
                            <p>@Html.RadioButton("answer1", answer.Points) @answer.Text</p>
                        }
                    }
                </ul>
                <input type="submit" value="Next Question"></input>
            }
        </div>
    </div>

</div>