@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "QuestionIndex";
}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Welcome to the Aptitude Quiz!</h1>
        <h3 class="text-center">Find Your Fit! Our Quiz Matches You with the Perfect Volunteering Opportunity.</h3>
    </div>
    <div class="row justify-content-center">
        <div class="card">
            <h2 style="font-size: 40px;"><b>Question 1</b></h2>
            @using (Html.BeginForm("QuestionTwo", "Questions", FormMethod.Post))
            {
                var QuestionList = Model.Item1.ToList();
                var AnswerList = Model.Item2.ToList();
                var question1 = QuestionList[0];
                <h2 id="question">@question1.Text</h2>
                <ul>
                    @foreach (var answer in AnswerList)
                    {
                        if (answer.QuestionId.Equals(question1.Id))
                        {
                            <p>@Html.RadioButton("answer1", answer.Points) @answer.Text</p>
                        }
                    }
                </ul>
                <input type="submit" value="Next Question"></input>
            }
        </div>
    </div>

</div>

<style>
    .card {
        text-align: center;
        width: 50%;
        height: 600px;
        vertical-align:middle;
        border-radius: 10px;
        background-color: #CBEBC3;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    h1 {
        padding-top: 50px;
        font-size: 70px;
    }

    #question {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 40px;
    }

    p {
        text-align: left;
        margin-left: auto;
        font-size: 20px;
    }

    input {
        border-radius: 10px;
        padding: 10px 16px;
        background-color: #93CFA4;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: Arial;
    }

        input:hover {
            background-color: #F7F3CB;
            color: lightslategrey;
        }

        input:active {
            background-color: #FBCB9C;
            box-shadow: 0 2px #666;
            transform: translateY(4px);
        }
</style>