@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "QuestionThree";
}

@{
    int point = Model.Item3;
}
<link rel="stylesheet" type="text/css" href="../css/Questions.css">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card">
            <h2 style="font-size: 40px;"><b>Question 3</b></h2>
            @using (Html.BeginForm("QuestionFour", "Questions", FormMethod.Post))
            {
                var QuestionList = Model.Item1.ToList();
                var AnswerList = Model.Item2.ToList();
                var question3 = QuestionList[2];
                <h2 id="question">@question3.Text</h2>
                <ul>
                    @foreach (var answer in AnswerList)
                    {
                        if (answer.QuestionId.Equals(question3.Id))
                        {
                            <p>@Html.RadioButton("answer3", answer.Points + point) @answer.Text</p>
                        }
                    }
                </ul>
                <input type="submit" value="Next Question"></input>
            }
        </div>
    </div>
    
</div>