@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "Question Two";
}

@{
    int point = Model.Item3;
}
<link rel="stylesheet" type="text/css" href="../css/Questions.css">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            @using (Html.BeginForm("QuestionThree", "Questions", FormMethod.Post))
            {
                var QuestionList = Model.Item1.ToList();
                var AnswerList = Model.Item2.ToList();
                var question2 = QuestionList[1];
                <h2 id="question">@question2.Text</h2>
                <ul>
                    @foreach (var answer in AnswerList)
                    {
                        if (answer.QuestionId.Equals(question2.Id))
                        {
                            <input id="answer2" name="answer2" type="radio" style="display:none" required />
                            <p>@Html.RadioButton("answer2", answer.Points + point) @answer.Text</p>
                        }
                    }
                </ul>
                <input type="submit" value="Next Question"></input>
            }
        </div>
    </div>
</div>

<script>
    var currentPage = 2; // Update this variable with the current page number

    function updateProgressBar() {
    var progress = (currentPage - 1) / 7 * 100; // Calculate the progress percentage
    document.querySelector('.progress').style.width = progress + '%'; // Update the progress bar width
    }

    // Call the updateProgressBar function initially and whenever the page changes
    updateProgressBar();

</script>

<style>
    .progress-bar {
        width: 100%;
        height: 10px;
        background-color: transparent;
        margin-top: 1%;
    }

    .progress {
        width: 0%;
        height: 100%;
        background-color: #63b6bb;
        transition: width 0.3s ease-in-out;
    }
</style>