@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "QuestionFive";
}

<h1>Question Five</h1>

@{
    int point = Model.Item3;
}

@using (Html.BeginForm("QuestionSix", "Questions", FormMethod.Post))
{
    var QuestionList = Model.Item1.ToList();
    var AnswerList = Model.Item2.ToList();
    var question5 = QuestionList[4];
    <h2>@question5.Text</h2>
    <ul>
        @foreach (var answer in AnswerList)
        {
            if (answer.QuestionId.Equals(question5.Id))
            {
                <li>@Html.RadioButton("answer5", answer.Points + point) @answer.Text</li>
            }
        }
    </ul>
    <input type="submit" value="Next Question"></input>
}