@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "QuestionThree";
}

<h1>Question Three</h1>

@{
    int point = Model.Item3;
}

@using (Html.BeginForm("QuestionFour", "Questions", FormMethod.Post))
{
    var QuestionList = Model.Item1.ToList();
    var AnswerList = Model.Item2.ToList();
    var question3 = QuestionList[2];
    <h2>@question3.Text</h2>
    <ul>
        @foreach (var answer in AnswerList)
        {
            if (answer.QuestionId.Equals(question3.Id))
            {
                <li>@Html.RadioButton("answer3", answer.Points+point) @answer.Text</li>
            }
        }
    </ul>
    <input type="submit" value="Next Question"></input>
}