@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "Complete";
}

@{
    int point = Model.Item3;
    bool showSearch = false;

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card h-100">
            @{
                @*User's score is calculated and an opportunity is displayed to them based on it.*@
                if (point > 6 && point < 15)
                {
                    showSearch = false;
                    <h1>Thank you for taking the quiz!</h1>
                    <b>Unfortunately we do not have any opportunities that fit your skillset at the moment.<br />Please try again in a few days.</b>
                    <br />
                }
                else if (point > 14 && point < 19)
                {
                    showSearch = true;
                    <h1>Congratulations!</h1>
                    <b>You are resilient, can handle stressful situations well, and have good communication skills.<br /></b>
                    <br />
                    <h3>You are a perfect fit for: Driver Mentor, Craft & Photography</h3>
                    <br />
                    
                }
                else if (point > 18 && point < 22)
                {
                    showSearch = true;
                    <h1>Congratulations!</h1>
                    <b>You have a good balance of skills, and are able to effectively manage your time and work with others.<br /></b>
                    <br />
                    <h3>You are a perfect fit for: Education and Training, Classroom Assistant, Language Training or Homework Tutoring</h3>
                    <br />

                }
                else
                {
                    <b>YOU DID NOT ANSWER ALL QUESTIONS!</b>
                    <b>PLEASE TRY AGAIN.</b>
                }
            }
        </div>
    </div>
</div>
<br />
<br />

@{
    @*If an opportunity is shown to them, a button to search for those opportunities is displayed which redirects them to the Search Page*@
    if(showSearch)
    {
        <div class="container">
            <div class="row">
                <h3 style="text-align: center">Click the button below to find volunteering opportunities</h3>
                <h3 style="text-align: center">that match your skills and interests.</h3>
                <div class="card h-100 mx-auto" style="background-color: #ffe5d9">
                    <a asp-area="" asp-controller="Jobs" asp-action="PreferenceCheck" style="text-decoration:none;">
                        <img class="card-img-top" src="../Images/search.png" alt="Search" style="width: 64px; height: 64px; margin-top: 5%">
                        <div class="card-body">
                            <h5 class="card-title">Search for Opportunities</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
}


<style>
    .card {
        text-align: center;
        width: 50%;
        height: 600px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: #CBEBC3;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card-title, .card-text {
        color: #343a40;
    }

    h1 {
        padding-top: 50px;
        font-size: 70px;
    }

    #prompt {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 40px;
    }

    b {
        text-align: center;
        font-size: 30px;
        color:teal;
    }

    input {
        border-radius: 10px;
        padding: 10px 16px;
        background-color: #93CFA4;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: Arial;
    }

    input:hover {
        background-color: #F7F3CB;
        color: lightslategrey;
    }

    input:active {
        background-color: #FBCB9C;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
</style>