@model Tuple<List<Question>, List<Answer>, int>
@{
    ViewData["Title"] = "Quiz Finish";
}
<div>
    <h1>YOU HAVE FINISHED</h1>
</div>

@{
    int point = Model.Item3;
    
}

<div class="container-fluid">
    <div class="card">
        <p>@point.ToString()</p>
    </div>
</div>

<style>
    .card {
        text-align: center;
        width: 50%;
        height: 250px;
        float: left;
        margin-left: 80px;
        margin-right: auto;
        background-color: lightyellow;
        border-radius: 10px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>