@model Tuple<List<Question>, List<Answer>, List<int>>
@{
    ViewData["Title"] = "Quiz Finish";
}
<div>
    <h1>YOU HAVE FINISHED</h1>
</div>

@{
    var test = Model.Item3.ToList();
    foreach (var point in test)
    {
        <p>@point.ToString()</p>
    }
}