
@{
    ViewData["Title"] = "About";
}

<div class="text-center" id="about">
    <h1>WE ARE CURRENTLY UNDER CONSTRUCTION</h1>
    <p><strong>Please come back at a later time.</strong></p>
</div>

<style>
    #about {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 200px;
    }
</style>

