@{
    ViewData["Title"] = "Home Page";
}
@*Code for the Hero Banner - Main banner that displays the website banner*@
<div class="hero-banner">
    <div class="banner-image"></div>
    <div class="col-md-12 text-center">
        <div class="slideshow" style="margin-top: 15%;">
            <div>
                <h2>Empower Lives, Break the Cycle of Poverty!</h2>
                <p><h4>Learn how you can provide quality education to those in low-income households.</h4>
                    <br />
                    <h4>Together, we can create a brighter future for all.</h4>
                </p>
            </div>
        </div>
    </div>
</div>

@*This section is used for the 3 blocks under the banner, each indicating one functionality of the website and links to that function*@
<div class="container">
    <div class="row" style="margin-top: 17%">
        <div class="col-md-4">
            <div class="card h-100" style="background-color: #fae1dd">
                <a asp-area="" asp-controller="Home" asp-action="Infographics" style="text-decoration:none;">
                    <img class="card-img-top" src="./Images/learn.png" alt="Learn" style="width: 64px; height: 64px; margin-top: 5%">
                    <div class="card-body">
                        <h5 class="card-title">Learn</h5>
                        <p class="card-text">Discover the powerful connection between household income and education, gaining valuable insights that can shape your perspective.</p>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="col-md-4">
            <div class="card h-100" style="background-color: #d8e2dc">
                <a asp-area="" asp-controller="Questions" asp-action="QuestionIndex" style="text-decoration:none;">
                    <img class="card-img-top" src="./Images/check.png" alt="Check" style="width: 64px; height: 64px; margin-top: 5%">
                    <div class="card-body">
                        <h5 class="card-title">Find Your Fit</h5>
                        <p class="card-text">Uncover your untapped potential and discover the incredible power you hold within.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" style="background-color: #FFF9D7">
                <a asp-area="" asp-controller="Jobs" asp-action="PreferenceCheck" style="text-decoration:none;">
                    <img class="card-img-top" src="./Images/search.png" alt="Search" style="width: 64px; height: 64px; margin-top: 5%">
                    <div class="card-body">
                        <h5 class="card-title">Volunteer</h5>
                        <p class="card-text">Be inspired, be engaged, and be the catalyst for change! Make a difference in the community by donating your time to educate those in need</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


@*Code for the slideshow effect on the banner*@
@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.slideshow').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: false,
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
            });
        });
    </script>
}

<style>
    .hero-banner {
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        }
   
    .banner-image {
        background-image: url("./Images/header-jumbo.gif");
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        opacity: 0.4;
    }

    .hero-banner h2 {
        font-size: 4em;
        margin-bottom: 0.5em;
    }

    .hero-banner h2, h4 {
        color: #5A5A5A;
    }

    .hero-banner p {
        font-size: 1.2em;
        color: #5A5A5A;
        margin-bottom: 1em;
    }

    .slideshow {
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        position: absolute;
        z-index: 1;
    }

    .card {
        text-align: center;
        margin-top: 7%;
    }

    .card:hover {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
        transition: box-shadow 0.3s ease-in-out;
    }

    .card-title, .card-text {
        color: #343a40;
    }
</style>