@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Youth Against Poverty</h1>
</div>

<style>
    h1{
        font-size:50px;
    }
    p{
        font-size:20px;
    }
</style>

<div class="content">
    <p class="text-center"><i><b>Our website offers resources and opportunities for youth to get started on their journey towards fighting poverty.</b></i></p>
    <img src="@Url.Content("~/Images/HandsIndex.png")" class="center"></img>
</div>

<style>
    .content{
        max-width: 700px;
        margin:auto;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>

<div class="text-center" style="margin-top:50px;" id="option">
    <p><b>Feeling of a sense of purpose is just a few clicks away!<b /></p>
    <button type="button" class="button" onclick="location.href='@Url.Action("PreferenceCheck", "Jobs")'">Volunteer Search</button><br />
    <button type="button" class="button" onclick="location.href='@Url.Action("Test", "Home")'">Aptitude Quiz</button><br />
    <button type="button" class="button" onclick="location.href='@Url.Action("Test", "Home")'">Poverty Articles</button><br />
    <style>
        .button {
            background-color: #C2EDCE;
            padding: 10px 16px;
            border-radius: 25px;
            width: 25%;
            margin: 5px;
        }
    </style>
</div>