@model IEnumerable<IndustryExperienceMain.Models.AgencyJobViewModel>
@{
    ViewData["Title"] = "PreferenceCheck";
}
@{
    var oppList = Model.ToList();
    //var distinctList = oppList.Select(x => new { x.TypeOfWork, x.Workplace }).Distinct().ToList();
    //var distinctLtyist = oppList.GroupBy(m => new { m.TypeOfWork, m.Workplace }).Select(group => group.First()).ToList();
    var jobList = oppList.Select(x => x.TypeOfWork).Distinct().ToList();
    jobList.Sort();
    var locationList = oppList.Select(y => y.Workplace).Distinct().ToList();
    locationList.Sort();
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 id="title">We believe that everyone has the power to make an impact!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img id="image" src="~/Images/Volunteering.jpg" />
        </div>
    </div>
    <div class="row" style="padding-top: 3%">
        <div class="col-12">
            <div id="search">
                <h2 style="font-size:30px; color: white">Search for Volunteering opportunities that suit your interests,</h2>
                <h2 style="font-size:30px; color: white"> and find ones that are close by!</h2>
                <br />
                @using (Html.BeginForm("PreferenceDisplayTest", "Jobs", FormMethod.Post))
                {
                    <b style="color: white;">WHAT</b>
                    @Html.DropDownList("typeOfWork", new SelectList(jobList), "--Select Interest--")
                    <b style="color: white;">WHERE</b>
                    @Html.DropDownList("workplace", new SelectList(locationList), "--Select Location--")
                    <button type="submit">Search</button>
                }
            </div>
        </div>
    </div>
</div>

<style>
    #title {
        font-size: 40px;
        color: #63b6bb;
        text-align: center;
    }

    #image {
        width: 100%;
    }

    #search {
        display: block;
        block-size: 200px;
        background-color: #63b6bb;
        text-align: center;
        border: 2px solid;
    }
    #form {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    button{
        border-radius: 10px;
        padding: 5px 20px;
        background-color: #93CFA4;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: Arial;
    }
</style>


@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#locationName").autocomplete({
                source: '/Jobs/SearchLocation'
            });
        });
        $(function () {
            $("#typeName").autocomplete({
                source: '/Jobs/SearchType'
            });
        });
    </script>
}


